# Django environment variables
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=change-this-to-a-very-long-and-secure-random-secret-key
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
